body {
	text-align: center;
	padding-top: 1rem;

}

.starter-template {
  padding: 0rem 1rem;
  text-align: center;
}

nav {
	font-size: 10pt;
}

#wrapper {
	width: 100%;
	/*border: 1px solid black;*/
	position: relative;
	height: 500px;
	float: left;
}

#editor {
	width: 65%;
	height: 100%;
	/*border: 1px solid red;*/
	position: relative;
	float: left;
}

#feedback {
	border: 1px solid Grey;
	position: relative;
	text-align: left;
	float: right;
	padding: 5px 3px 5px 8px;
	width: 35%;
	height: 100%;
}

.ace_coqKeyword {
    color: rgb(147, 15, 128);
}

.ace_keyword {
    color: blue !important;
}
